<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Compras e Localização</title>
</head>

<body>
    <header>
        <h1>Sistema de Compras e Localização</h1>
    </header>

    <nav>
        <a href="/home">Home</a>
        <a href="#">Lojas</a>
        <a href="#">Sobre nós</a>
        <a href="#">Contato</a>
    </nav>

    <section>
        <h2>Boas vindas ao Sistema de Compras e Localização!</h2>
        <p>Encontre seu produto no melhor preço e o mais pertinho de você</p>
    </section>

    <footer>
        <p>&copy; 2023 Sistema de Compras e Localização. Todos os direitos reservados.</p>
    </footer>
</body>
